.app-sidenav-container {
  flex: 1;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.app-sidenav {
  width: 240px;
}

.app-sidenav-content {
  display: flex;
  flex-direction: column;
}
